*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// ========================================
// BODY
// ========================================

body {
    color: $text-color !important;
    @include background-image;
    background-image: url("../../../threedragons-source/assets/img/decor/banner-texture.png");
}

// ========================================
// IMAGE
// ========================================

img {
    width: $full-width;
    height: auto;
    object-fit: cover;
}

// ========================================
// SECTION
// ========================================
section {
    padding: $padding-section-desktop;

    @include respond-to(lg) {
        padding: $padding-section-mobile !important
    }

    @include respond-to(xxl) {
        padding: $padding-section-tablet !important;
    }
}