*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// ========================================
// BODY
// ========================================

body {
    color: $text-color !important;
    background-repeat: no-repeat;
    background-size: cover;

    background-image: url("../../../threedragons-source/assets/img/decor/banner-texture.png");
}

// ========================================
// IMAGE
// ========================================

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

// ========================================
// SECTION
// ========================================
section {
    padding: 140px 0;

    @include respond-to(lg) {
        padding: 80px 1em !important;
    }

    @include respond-to(xxl) {
        padding: 120px 10em;
    }
}