// ========================================
// COLORS
// ========================================

$primary-color: #9d382b; 
$secondary-color: #bd3116;
$background-color: #f8f6f5;
$text-color: #29201f;

// ========================================
// BORDER RADIUS
// ========================================

$image-radius: 20px; 
$button-radius: 16px;

// ========================================
// BREAKPOINTS
// ========================================

$breakpoint-xs: 320px; 
$breakpoint-sm: 480px;
$breakpoint-md: 576px; 
$breakpoint-lg: 768px; 
$breakpoint-xl: 992px; 
$breakpoint-xxl: 1280px; 
$breakpoint-xxxl: 1480px;

// ========================================
// FONTS
// ========================================

$font-title: "Amarante", serif;
$font-text: "Noto Sans", sans-serif;
$font-subtitle: "ZCOOL XiaoWei", sans-serif;

// ========================================
// PADDING
// ========================================

$padding-button: 16px 26px;

// ========================================
// OVERFLOW
// ========================================

$overflow-hidden: hidden; 