.offcanvas {
    // GÉNÉRAL
    width: 97% !important;
    margin: 2rem;
    padding: 4rem;

    // HEADER
    .offcanvas-header {
        .offcanvas-title {
            font-size: 3.5rem;
        }
    }
}