.border-top {
  border-top: 1px solid #29201f !important;
}

.border-bottom {
  border-bottom: 1px solid #29201f !important;
}

.border-left {
  border-left: 1px solid #29201f !important;
}

.border-right {
  border-right: 1px solid #29201f !important;
}

.bg-dark {
  background-color: #29201f !important;
}

.bg-light {
  background-color: #f8f6f5 !important;
}

.bg-primary {
  background-color: #9d382b !important;
}

.bg-secondary {
  background-color: #bd3116 !important;
}

.text-dark {
  color: #29201f !important;
}

.text-light {
  color: #f8f6f5 !important;
}

.btn-primary {
  color: #9d382b;
  border: 1px solid #9d382b !important;
  background-color: transparent !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #f8f6f5 !important;
  background-color: #9d382b !important;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #29201f !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../threedragons-source/assets/img/decor/banner-texture.png");
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

section {
  padding: 140px 0;
}
@media (max-width: 768px) {
  section {
    padding: 80px 1em !important;
  }
}
@media (max-width: 1280px) {
  section {
    padding: 120px 7em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: "Amarante", serif;
}

h1 {
  font-size: 6em;
}
@media (max-width: 1280px) {
  h1 {
    font-size: 4em;
  }
}

.sec-relative {
  z-index: 2;
  position: relative;
}

.header {
  border-bottom: 1px solid #29201f;
}
.header .col-brand,
.header .col-btn {
  padding: 16px 0;
}
@media (max-width: 480px) {
  .header .col-brand {
    padding-top: 24px !important;
  }
}
.header .col-btn {
  padding-right: 20px;
}
@media (max-width: 320px) {
  .header .col-btn {
    display: none !important;
  }
}
@media (max-width: 992px) {
  .header .col-md-4 {
    width: 33.33% !important;
  }
}
.header .btn-menu {
  left: -12px;
  width: 88px;
  border: none !important;
  padding: 25px !important;
  border-radius: 0px !important;
}
.header .btn-menu .btn-icon {
  font-size: 25px;
  color: #f8f6f5;
}
.header .btn-menu .icon-hover {
  display: none;
}
.header .btn-menu:hover .icon-default {
  display: none !important;
}
.header .btn-menu:hover .icon-hover {
  display: block !important;
}
.header .navbar-brand {
  font-size: 32px;
  font-family: "Amarante", serif;
}
@media (max-width: 480px) {
  .header .navbar-brand {
    font-size: 22px !important;
  }
}
.header .btn-booking .txt-btn {
  margin-left: 5px;
}
@media (max-width: 992px) {
  .header .btn-booking .txt-btn {
    display: none !important;
  }
}

.offcanvas {
  width: 97% !important;
  margin: 2rem;
  padding: 4rem;
}
.offcanvas .offcanvas-header .offcanvas-title {
  font-size: 3.5rem;
}

.line {
  height: 100vh;
  width: 1px;
  left: 86px;
  position: absolute !important;
}
@media (max-width: 768px) {
  .line {
    display: none !important;
  }
}

.btn {
  font-size: 14px;
  font-weight: 600;
  border-radius: 16px;
  padding: 16px 26px;
  text-transform: uppercase;
  font-family: "Noto Sans", sans-serif;
  transition: all 0.6s ease-in-out !important;
}

.hero {
  height: 90vh;
  overflow: hidden;
}
@media (max-width: 480px) {
  .hero {
    height: 88vh;
  }
}
.hero__overlay {
  top: -3px;
  left: 50%;
  height: 100vh;
  transform: translateX(-50%);
  z-index: -1;
  width: 33%;
  position: absolute;
  background-color: #bd3116;
}
.hero__temple {
  top: 88px;
  right: 0;
  bottom: 0;
  width: 55.7%;
  z-index: 0;
  position: absolute;
}
@media (max-width: 480px) {
  .hero__temple {
    height: 88vh;
  }
}
@media (max-width: 1280px) {
  .hero__temple {
    width: 88%;
  }
}
.hero__vertical-text {
  position: absolute;
  right: 4em;
  top: 20%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #29201f;
  opacity: 0.7;
  font-family: "ZCOOL XiaoWei", sans-serif;
}
@media (max-width: 480px) {
  .hero__vertical-text {
    right: 5em !important;
    top: 15% !important;
    flex-direction: row !important;
  }
}
@media (max-width: 1280px) {
  .hero__vertical-text {
    right: 3em;
    top: 13%;
  }
}

/*# sourceMappingURL=style.css.map */
