.hero {
    height: 90vh;
    overflow: $overflow-hidden;

    @include respond-to(sm) {
        height: 86vh !important;
    }

    &__temple {
        top: 0;
        right: 0em;
        width: 64%;

        @include respond-to(sm) {
            width: $full-width !important;
            height: 100vh !important;
        }
    }
  
    &__vertical-text {
        top: 15%;
        right: 20em;
        gap: 1rem;
        opacity: 0.5;
        font-family: $font-subtitle;

        @include respond-to(sm) {
            right: 1em !important;
            top: 20% !important;
        }

        span {
            font-size: 25px;

            @include respond-to(sm) {
                font-size: 12px;
            }
        }
    }

    // &__vertical-text {
    //     gap: 1rem;
    //     color: $text-color;
    //     opacity: 0.7;
    //     font-family: $font-subtitle;

    //     @include respond-to(sm) {
    //         right: 5em !important;
    //         top: 16% !important;
    //         flex-direction: row !important;
    //     }

    //     @include respond-to(xxl) {
    //         right: 3em;
    //         top: 13%;
    //     }
    // }

}